* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* common styles */
.title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.btn {
    border-radius: 8px;
    background-color: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 20px 43px;
}

/* header part */
header {
    background-color: rgba(229, 84, 115, 0.10);
}

.bannerContainer {
    padding: 50px 140px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bImg {
    width: 475px;
}

.bTitle {
    color: #272727;
    font-family: Lato;
    font-size: 65px;
    font-weight: 800;
}

.bSubTitle {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0;
}